/* Imports */

@import "../../index.css";

/* Subpage oProgramie mobile body */

.oProgramieMobileBody {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.9em;
    color: var(--font-color);
    line-height: 25px;
}

.subpageMobileHeaderTitle {
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    padding: 0 0 15px;
}

.oProgramieMobileParagraphStyle,
.oProgramieMobileParagraph {
    line-height: 30pt;
}