/* Global variables */

:root {
    --main-background: #ffffff;
    --primary-color: #e40913;
    --secondary-color: #e21f1c;
    --tertiary-color: #da363f;
    --quaternary-color: #e2001a;
    --font-color: #6a6a6a;
    --secondary-font-color: #e40913;
    --footer-background-color: #ffffff;
  
    --main-font: "Noto Serif", serif;
    --secondary-font: "Niconne", cursive;
  }
  
  /* Clearfix */
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
  }
  
  body {
    background: var(--main-background);
  }
  
  /* Header */


  .mainMobileHeader {
      display: flex;
      flex-direction: column;
      padding: 1em;
  }

  .mainMobileHeaderLogos {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }

  .mainMobileHeaderRoyalCanin {
      border-right: 1px solid #da363f;
  }

  .mainMobileHeaderUnlogged {
      border-bottom: 1px solid var(--font-color);
  }

  .mainMobileHeaderUnloggedButtons {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;   
    list-style: none; 
    padding: 1em;
    color: var(--font-color);
    font-size: 1em;
    cursor: pointer;
  }

  .mainMobileHeaderButtonLink {
      text-decoration: none;
      color: var(--font-color);
  }

  /* Body */

  .mainMobileBody {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1em;
  }

  .mainMobileBodyUnlogged {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .mainMobileBodyInfo {
      color: var(--primary-color);
      font-size: 1em;
  }

  .mainMobileBodyAdditionalInfo {
      color: var(--font-color);
      text-align: center;
      padding: 1em;
  }

  .mainMobileUnloggedLogin {
      display: inline-block;
      background-color: var(--primary-color);
      border-radius: 0.25rem;
      padding: 5px 18px;
      border-radius: 25px;
  }

  .mainMobileUnloggedButtonLogin {
      color: var(--main-background);
      text-decoration: none;
      font-size: 1em;
      cursor: pointer;
  }

  .mainMobileUnloggedButtonSignin {
      text-decoration: none;
      color: var(--font-color);
      cursor: pointer;
  }

  .mainMobileFooter {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      padding: 1em;;
  }

  .mainMobileFooterRights {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      color: var(--font-color);
      flex-wrap: wrap;
      padding: 0 10px;
      font-size: 0.75em;
      align-items: center;
  }

  .mainMobileFooterAllRights,
  .mainMobileFooterLogo,
  .mainMobileFooterIcons {
      padding: 10px;
  }

  .mainMobileFooterLink {
      padding: 2px 5px;
  }

  .mainMobileFooterLinksList {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
      list-style: none;
      font-size: 0.75em;
      padding: 1em;
  }

  .mainMobileFooterLinkto {
      text-decoration: none;
      color: var(--font-color);
  }

  .mainMobileFooterInfo {
      border-top: 1px solid var(--font-color);
      color: var(--font-color);
      font-size: 0.7em;
      padding: 10px 0;
  }